<!-- fileuploads/templates/upload_and_display.html -->
{% extends "admin/base_site.html" %}
<!-- {% load i18n admin_urls static admin_modify %} -->
{% block branding %}
    <div>
        <div style="width: 100%;">
            <h1 id="site-name"><a href="{% url 'admin:index' %}">ASMI (Artificial Intelligence System for Medical Images)</a></h1>
            <small>© 2025 Powered by BINUS University BDSRC|AIRDC. All Rights Reserved.</small>
        </div>
    </div>
{% endblock %}

<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
    
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
{% endblock %} 
</body>
</html>